.input {
  width: 100%;
  padding: 16px 12px;
  border: 1px solid var(--gray2);
  border-radius: 18px;
}

.input:focus, .input:focus-visible {
  outline: none;
  border-color: var(--principal-color);
}
