.button {
  width: 100%;
  color: var(--white);
  background-color: var(--gray1);
  font: var(--button-font);
  padding: 16px;
  margin: 32px 0 0 0;
  border: 1px solid var(--gray1);
  border-radius: 18px;
  box-shadow: none;
  pointer-events: none;
}

.button--active {
  background-color: var(--principal-color);
  border-color: var(--principal-color);
  pointer-events: all;
  cursor: pointer;
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .button {
    padding: 12px;
    margin: 24px 0 0 0;
    border-radius: 14px;
  }
}
/* End of Responsive design */
