.form {
  width: 100%;
}

.container_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.double_input {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}