.timer {
  font: var(--link-font);
}

.timer--active {
  color: var(--principal-color);
}

.timer--done {
  color: var(--red);
}

.timer--error {
  color: var(--red);
}

.timer--success {
  color: var(--principal-color);
}
