.inputfield {
  outline: 1px solid black;
  width: 100%;
  position: relative;
}

.inputfield__input {
  width: 100%;
  padding: 16px 12px;
  border: 1px solid var(--gray2);
  border-radius: 18px;
}

.inputfield__error {
  display: none;
  position: absolute;
  color: var(--red);
  font: var(--error-font);
  bottom: -20px;
  left: 0;
}

.inputfield--error .inputfield__input {
  border-color: var(--red);
}

.inputfield--error .inputfield__error {
  display: block;
}

.inputfield__input:focus,
.inputfield__input:focus-visible {
  outline: none;
  border-color: var(--principal-color);
}

.inputfield__input:focus ~ .inputfield__error {
  display: none;
}
