.app {
  text-align: center;
}

.wrapper {
  outline: 1px solid red;
}

.title {
  font: var(--title-font);
  margin: 0 0 24px 0;
}

.description {
  font: var(--description-font);
  margin: 0 0 40px 0;
}
