:root {
  /* Custom Colors */
  --white: #FFF;
  --gray1: #C0C0C0;
  --gray2: #4F6168;
  --black: #000000;
  --yellow: #F3A734;
  --red: #F26363;
  --principal-color: #00ACAC;
  --secondary-color: #00648B;
  --hover-color: #BCE1DE;

  /* Custom Fonts */
  --title-font: normal 700 64px/100% "Archivo", sans-serif;
  --subsection-font: normal 700 20px/normal "Archivo", sans-serif;
  --description-font: normal 400 24px/160% "Archivo", sans-serif;
  --button-font: normal 700 16px/normal "Archivo", sans-serif;
  --link-font: normal 400 16px/160% "Archivo", sans-serif;
  --body-font: normal 400 14px/18px "Archivo", sans-serif;
  --error-font: normal 400 12px/160% "Archivo", sans-serif;
}

*, body {
  font: var(--body-font);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
