.login {
  padding: 60px 0;
}

.container_login {
  width: 60%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.login__link {
  display: grid;
  place-items: center;
  margin: 24px 0 0 0;
}

.login__link a {
  color: var(--black);
  font: var(--link-font);
}